body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.post-single h2 {
  font-size: 40px;
  font-family: inherit;
  font-weight: bold;
  color: #454545;
  margin-top: 20px;
  line-height: 60px;
}

.post-single p {
  margin-bottom: 20px;
  font-size: 20px;
}
